.area-item {
  /*padding: 10px 0;*/
  width: 100%;
  padding-right: 12%;
  margin-top: 5%;
}
.running-item {
  /*padding: 10px 0;*/
  width: 100%;
  padding-left: 12%;
  margin-top: 5%;
}

.area-item .legend,
.running-item .legend {
  width: 6px;
  border-radius: 2px;
}

.area-item .context {
  padding: 1% 5px;
  color: #fff;
  background-color: rgba(31, 42, 53, 0.8);
  border-radius: 0 5px 5px 0;
}

.running-item .context {
  padding: 1% 5px;
  color: #fff;
  background-color: rgba(31, 42, 53, 0.8);
  border-radius: 5px 0 0 5px;
}

.order-item {
  margin-top: 1%;
}

.order-item .name,
.order-item .value {
  color: #46a6b5;
}

.order-item .num {
  color: #fff;
  background-color: #46a6b5;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
}

.sys-item-name {
  text-align: center;
}

.sys-item-value {
  text-align: center;
  color: #ccc;
}

@media screen and (max-width: 1200px) {
  .order-item .num {
    width: 17px;
    height: 17px;
    line-height: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .order-item .num {
    width: 17px;
    height: 17px;
    line-height: 17px;
  }
}
@media screen and (min-width: 1400px) {
  .order-item .num {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1600px) {
  .order-item .num {
    width: 17px;
    height: 17px;
    line-height: 17px;
  }
}
@media screen and (min-width: 1800px) {
  .order-item .num {
    width: 17px;
    height: 17px;
    line-height: 17px;
  }
}
