.topItem {
  border-radius: 6px;
  margin-right: 1%;
  padding: 0.8% 1%;
}
.topItem:last-child {
  margin-right: 0;
}

.topItem p {
  color: #ffffff;
  text-align: right;
}

.topItem .name {
  font-weight: bold;
}

.topItem .value {
  font-weight: bolder;
}

.topItem .icon {
  margin-right: 10%;
  background-image: url("../img/duandian.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
