.info {
  color: #46a6b5;
}

.infoItem {
}

.infoItem .value,
.infoItem .position {
  color: #f7931f;
}

.title {
  color: #46a6b5;
}

.statusName {
  color: #46a6b5;
  text-align: center;
}

.statusValue {
  color: #f7931f;
  text-align: center;
}

.longestTitle {
  position: absolute;
  height: 100%;
  top: 0;
  left: 1.5%;
}

.battery {
  width: 4.75%;
  height: calc(50% - 10px);
  margin-top: 10px;
}

.surveyImg {
  margin: 0 15%;
  padding: 5% 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: url("../img/5G.png") center center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.weatherBg {
  background-size: contain;
  background-position: 61% 50%;
  background-repeat: no-repeat;
}

.listContents {
  height: 100%;
}

.loading {
  color: #46a6b5;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.loading p {
  text-align: center;
}
