.info {
  color: #46a6b5;
}

.info-item {
}

.info-item .value,
.info-item .position {
  color: #f7931f;
}

.title {
  color: #46a6b5;
}

.status-name {
  color: #46a6b5;
  text-align: center;
}

.status-value {
  color: #f7931f;
  text-align: center;
}

.longest-title {
  position: absolute;
  height: 100%;
  top: 0;
  left: 1.5%;
}

.battery {
  width: 4.75%;
  height: calc(50% - 10px);
  margin-top: 10px;
}

.survey-img {
  margin: 0 15%;
  padding: 5% 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: url("../img/5G.png") center center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.weather-bg {
  background-size: contain;
  background-position: 61% 50%;
  background-repeat: no-repeat;
}

.percent-svg {
  background: url("../img/health_degree.png") center center no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.list-contents {
  height: 100%;
}

.loading {
  color: #46a6b5;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.loading p {
  text-align: center;
}
